<div class="container">
	<h2>Click on the header to sort the data differently or click on the title to get more information.</h2>

	<div class="films">
		<div class="table_row head">
			<div class="film_title"(click)="reOrder('title')">Title</div>
			<div class="film_release_date" (click)="reOrder('release_date')">Release Date</div>
			<div class="film_score" (click)="reOrder('rt_score')">Red Tomato Score</div>
		</div>
		<ng-container *ngFor="let film of data | orderBy: orderBy: revstatus">
			<div class="table_row">
				<div class="film_title" (click)="openMoviePage(film.id)">{{film.title}}</div>
				<div class="film_release_date">{{film.release_date}}</div>
				<div class="film_score">{{film.rt_score}}</div>
			</div>
		</ng-container>
	</div>

	<div class="details" [hidden]="!details">
		<div class="itemRow">ID: {{activeMovie.id}}</div>
		<div class="itemRow">Title: {{activeMovie.title}}</div>
		<div class="itemRow">Description: {{activeMovie.description}}</div>
		<div class="itemRow">Locations: {{activeMovie.locations}}</div>			
		<div class="itemRow">People: {{activeMovie.people}}</div>
		<div class="itemRow">Producer: {{activeMovie.producer}}</div>
		<div class="itemRow">Release date: {{activeMovie.release_date}}</div>
		<div class="itemRow">Red Tomatoe Score: {{activeMovie.rt_score}}</div>
		<div class="itemRow">Species: {{activeMovie.species}}</div>
		<div class="itemRow">Url: {{activeMovie.url}}</div>
		<div class="itemRow">Vehicles: {{activeMovie.vehicles}}</div>
		<img (click)="details = false" src="/assets/images/close.png" />
	</div>
	
	<div class="foliee" [hidden]="!details"></div>	

</div>