.container{
	font-family: Verdana;
	font-size: 12px;
	background-color: #232f49;
	padding: 20px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
}
.films{
	display: table;
	margin: 0px;
}

.films div{
	padding: 3px 10px;
	border: 1px solid #ddd;
}

.film_id{
	display:table-cell;
}

.film_title{
	display:table-cell;	
	cursor: pointer;
}

.film_title:hover{
	color: #ff0000;
}

.film_film_release_date{
	display:table-cell;	
}

.film_score{
	display:table-cell;	
}

.table_row{
	display:table-row;	
}

.head{
	font-weight: bold;
	background-color: #333;
	color: #FFF;
}

.head .film_title:hover{
	color: #FFF;
}

.head > div{
	cursor: pointer;
}

.details{
    position: absolute;
    background-color: #132f49;
    width: 80%;
    height: auto;
    margin: 0 auto;
    top: 70px;
    left: 0;
	right: 0;
    padding: 20px;
	z-index:2;
}

.details .itemRow{
	padding: 5px 10px;
	font-size: 12px;
}

.details img{
	position: absolute;
	top: -18px;
	right: -18px;
	width: 40px;
	cursor: pointer;
}

.foliee{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}